@import './base/stats-body';
@import './base/stats-navbar';
@import './base/stats-right-container';
@import './components/stats-charts';
@import './layouts/stats-data-appear';
@import './layouts/stats-infos-appear';
@import './layouts/stats-profile-appear';
@import './layouts/stats-profile';
@import './layouts/stats-recaps';
@import './layouts/stats-tasks';
@import './utils/stats-fonts';
@import './utils/stats-toggle-classes';
@import './utils/variables';

#stats_agenda_container {
    grid-column: 1/13;
    grid-row: 12/16;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 15px;
    background: #212529;
    #agenda_item_list {
        width: 96%;
        height: 500px;
        margin: 0 auto;
        .agenda_item {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 96%;
            height: 75px;
            background: #fff;
            margin: 20px auto;
            border-radius: 15px;
            color: #222;
            font-size: 18px;
            .agenda_item_topic {
                margin: 0 auto;
            }
            #agenda_item_title {
                background: #4285F4;
                color: white;
                border-radius: 15px;
                padding: 5px 15px
            }
            #agenda_item_date {
                background:#DB4437;
                color: white;
                border-radius: 15px;
                padding: 5px 15px
            }
            #agenda_item_hour {
                background: #F4B400;
                color: white;
                border-radius: 15px;
                padding: 5px 15px
            }
            #agenda_item_categorie {
                background: #0F9D58;
                color: white;
                border-radius: 15px;
                padding: 5px 15px
            }
            #agenda_item_description {
                background: #222;
                color: white;
                border-radius: 15px;
                padding: 5px 15px
            }
        }
    }
}