// ? chart canvas styles
canvas#total_worked_hours_chart {
    width: 100%!important;
    height: 700px!important;
    margin: 0!important;
}

canvas#stats_lta_chart {
    width: 100%!important;
    height: 350px!important;
    margin: 0!important;
}
canvas#stats_learn_tp_chart {
    width: 100%!important;
    height: 350px!important;
    margin: 0!important;
}